@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #f8f8f8;
}

* {
  font-family: "Carlito";
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a:visited {
  color: black;
}

img {
  height: 100%;
}

.btn {
  background-color: white;
  margin-top: 10px;
  padding: 8px 5px;
  border-radius: 5px;
}

.btn:active {
  border: rgb(91, 91, 103) 1px solid;
}

.logo-img {
  height: 100%;
}

.autohorize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.autohorize a {
  color: rgb(48, 48, 62);
  font-size: 1.2rem;
}

.avatar-img {
  height: 60px;
  margin-left: 20px;
}

.btn:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.content-wrapper {
  width: 75%;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  background-color: #fefbff;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
}
