.auth-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth {
  width: 25%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.auth-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 10px;
}

.login-btn {
  margin-top: 25px;
}

.warning {
  color: red;
  margin-top: 5px;
}
