@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #f8f8f8;
}

* {
  font-family: "Carlito";
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a:visited {
  color: black;
}

img {
  height: 100%;
}

.btn {
  background-color: white;
  padding: 8px 5px;
  border-radius: 5px;
}

.btn:active {
  border: rgb(91, 91, 103) 1px solid;
}

.logo-img {
  height: 100%;
}

.autohorize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.autohorize a {
  color: rgb(48, 48, 62);
  font-size: 1.2rem;
}

.avatar-img {
  height: 60px;
  margin-left: 20px;
}

.search {
  width: 35%;
  display: flex;
  flex-direction: row;
}

input {
  background-color: white;
  padding: 8px 5px;
  border-radius: 5px;
}

.search-field {
  flex-grow: 1;
}

.search-field:focus,
.btn:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.search-btn {
  margin-left: 10px;
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  background-color: #fefbff;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.filtres {
  width: 25%;
  padding: 20px 30px;
}

.filter-name {
  margin-top: 10px;
}

.filtres-title {
  margin-bottom: 10px;
}

.filter-container {
  margin-bottom: 25px;
}

.filtres label {
  display: block;
  margin-bottom: 8px;
}

.filtres select {
  width: 100%;
  background-color: #f8f8f8;
  padding: 8px 5px;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
}

.checkbox-container label {
  margin-bottom: 0;
  margin-left: 5px;
}

.list-container {
  flex-grow: 1;
  padding: 20px 30px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 190px;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.list-item:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.film-content {
  display: flex;
  flex-direction: row;
}

.film-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.film-title {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.film-info-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.film-info-row p {
  margin-right: 10px;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.favorite-btn {
  width: 25px;
  height: 30px;
}

.favorite-btn img {
  object-fit: cover;
}

.about {
  width: 100%;
  max-height: 100px;
  margin-top: 45px;
  background-color: #f8f8f8;
  padding: 10px;
}

h3 {
  font-size: 1.2rem;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.about img {
  height: 150%;
}

.about-ava img {
  height: 250%;
}